[Account work]
# DAV credentials. Please note that the password is written in plain
# text here. If the password is missing, it will be claimed at
# synchronization time.
user: username
passwd: yourpassword

# The path to the CardDAV resource.
#resource: https://[server]/owncloud/apps/contacts/carddav.php/addressbooks/[user]/[addressbook name]/
resource: https://carddav.server.tld:443/davical/caldav.php/username/addresses/

# Authentication Method: possible values are: basic (the default), or digest
# (for servers that need HTTP digest authentification)
#auth: basic

# If verify is set to False, no SSL Certificate checks are done at all. Please
# be aware of the security implications. The default value is True You can also
# set verify to a path to your CAcert file
#verify: True

[Account private]
user: anothername
passwd: otherPasswd

resource: https://domain.tld/contacts/addressbook/

[sqlite]
# The location of the local SQLite contacts database.
# Defaults to $XDG_DATA_HOME/pycard/abook.db
#path: ~/.pycard/abook.db

[query]
# select where to search when querying, possible values are:
# vcard, name, fname or allnames (which includes both the name and the full
# name). Default is vcard, which search in all the fields but is slower.
where: vcard

[default]
debug: False
