[default]
user: username
passwd: yourpassword
resource: https://carddav.server.tld/davical/caldav.php/username/addressbook/
base_url: https://carddav.serer.tld
insecure_ssl: 0
db_path: /home/localuser/.pycard/abook.db
DEBUG: 0
